<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1024230593076-ur9pu8jmn6a8h8l2adf7p0jca2l45q5m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1024230593076-ur9pu8jmn6a8h8l2adf7p0jca2l45q5m</string>
	<key>API_KEY</key>
	<string>AIzaSyCHxdZ95oUjV8jZ9g2zgD1-Z4IZlO5s7mY</string>
	<key>GCM_SENDER_ID</key>
	<string>1024230593076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobile.Stax</string>
	<key>PROJECT_ID</key>
	<string>stax-62647</string>
	<key>STORAGE_BUCKET</key>
	<string>stax-62647.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1024230593076:ios:0cca116f91a852b3</string>
	<key>DATABASE_URL</key>
	<string>https://stax-62647.firebaseio.com</string>
</dict>
</plist>
